body{
    font-family: Dosis;
}

.header-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: 300px;
}
#nav-logo{
    max-width: 70px;
    max-height: 70px;
}
.nav-bg{
    background:linear-gradient(90deg,#40fbff,#40b3ff);
}
.header-text{
    background:linear-gradient(90deg,#40b3ff,#407bff);
    border-radius: 50px ;
}
.footer-text{
    color: black;
    margin-top: 20px;
    text-align: center;
    position:sticky;
}

.made-by{
    background:linear-gradient(90deg,#c4e7ff,#9bbaff);
}
 .center{
   position: absolute;
   top: 50%;
   left: 50%; 
   transform: translate(-50%, -50%);
 }
 .btn{
     border: none;
 }
.btn:hover{
  background:linear-gradient(90deg,#40fbff,#40b3ff);
  border: none;
  color: black;
}
.quality-edu-pic{
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.video {
    text-align:center;
      width:100%;
}
a{
text-decoration:none;
}
.footer {
    position:sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(73, 197, 255);
    text-align: center;
  }

  @keyframes heartbeat {
    0% {
      font-size: .75em;
    }
    /* 20% {
      font-size: 1em;
    }
    40% {
      font-size: .75em;
    } */
    50% {
      font-size: 1em;
    }
    /* 80% {
      font-size: .75em;
    } */
    100% {
      font-size: .75em;
    }
  }
  #heart {
    color: white;
    animation: heartbeat 1s infinite;
  }
