body{
    font-family: Dosis;
}

.header-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: 300px;
}
#nav-logo{
    max-width: 70px;
    max-height: 70px;
}
.nav-bg{
    background-color: #F36D5A;
}
.header-text{
    background-color: rgb(223, 223, 223);
    border-radius: 100px ;
}
.footer-text{
    margin-top: 20px;
    text-align: center;
}

.open-src{
    color: black;
}
.made-by{
    background-color: grey;
}
 .center{
   position: absolute;
   top: 50%;
   left: 50%; 
   transform: translate(-50%, -50%);
 }
.btn:hover{
  box-shadow: 5px 5px 10px #000000;
}
.quality-edu-pic{
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.video {
    text-align:center;
      width:100%;
}
a{
text-decoration:none;
}
